<h1>New User Sign-up</h1>
<form action='/user' method='POST'>
  <label>Username:</label><input type="email" name="username" value='<%= @user.username %>' required/> <br/>
  <label>Password:</label><input type="password" name="password" /> <br />
  <label>Password Confirmation:</label><input type="password" name="password_confirmation" /> <br />
  <input type="submit" value="Submit">
</form>
