<h1>Sign-In</h1>
<form action='/session' method='POST'>
  <label>Username:</label><input type="email" name="username" required/> <br/>
  <label>Password:</label><input type="password" name="password" required/> <br />
  <input type="submit" value="Sign In">
</form>
