<h3> Add new link </h3>
<form action='/links' method='POST'>
  <label> title :</label> <input type="text" name="title" autofocus> <br/>
  <label>URL :</label> <input type="text" name="url" > <br />
  <input type="submit" value="Add">
</form>
