<h3> Add new link </h3>
<form action='/links' method='POST'>
  <label>Title :</label> <input type="text" name="title" autofocus> <br/>
  <label>URL :</label> <input type="text" name="url" > <br />
  <label>Tag :</label> <input type="text" name="tag" > <br />
  <input type="submit" value="Add">
</form>
