<h1> New Link </h2>

<form action="/links" method="post">
  URL: <input type="text" name="url">
  Title: <input type="text" name="title">
  Tag: <input type="text" name="tag">
  <input type="submit" value="Save">
</form>
